.form-group {
  ng-class="{'has-feedback has-error': user.errors.name}"
}
  label.control-label Имя
  input {
    ng-model="user.name"
    ng-change="user.errors.name = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': user.errors.email}"
}
  label.control-label Почта
  input {
    ng-model="user.email"
    ng-change="user.errors.email = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': user.errors.password}"
}
  label.control-label Пароль
  input {
    ng-model="user.password"
    ng-change="user.errors.password = undefined"
    class="form-control"
    autocomplete="off"
    type="password"
  }

.form-group {
  ng-class="{'has-feedback has-error': user.errors.phone}"
}
  label.control-label Телефон
  input {
    ng-model="user.phone"
    ng-change="user.errors.phone = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }