.page-header
  h1.page-title Пользователи
  .page-header-actions
    a.btn.btn-sm.btn-icon.btn-inverse.btn-round type="button" href="users/create"
      i.icon.fa.fa-plus

.page-content.container-fluid

  .panel
    .panel-body
      .table-responsive
        table.table
          thead
            tr
              th #
              th Имя
              th Почта
              th Телефон
            tr ng-repeat="user in users"
              td
                | {{user.id}}
              td
                a href="users/{{user.id}}"
                  | {{user.name}}
              td
                | {{user.email}}
              td
                | {{user.phone}}