.form-group {
  ng-class="{'has-feedback has-error': admin.errors.name}"
}
  label.control-label Имя
  input {
    ng-model="admin.name"
    ng-change="admin.errors.name = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': admin.errors.email}"
}
  label.control-label Почта
  input {
    ng-model="admin.email"
    ng-change="admin.errors.email = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': admin.errors.password}"
}
  label.control-label Пароль
  input {
    ng-model="admin.password"
    ng-change="admin.errors.password = undefined"
    class="form-control"
    autocomplete="off"
    type="password"
  }
