.page-header
  h1.page-title Администраторы
  .page-header-actions
    a.btn.btn-sm.btn-icon.btn-inverse.btn-round {
      type="button"
      href="admins/create"
    }
      i.icon.fa.fa-plus

.page-content.container-fluid

  .panel
    .panel-body
      .table-responsive
        table.table
          thead
            tr
              th #
              th Имя
              th Почта
            tr ng-repeat="admin in admins"
              td
                | {{admin.id}}
              td
                a href="admins/{{admin.id}}"
                  | {{admin.name}}
              td
                | {{admin.email}}
