doctype html
html ng-app="app"
  head
    title Капитан Аналитика
    meta charset="utf-8"
    meta name="theme-color" content="#292a2c"
    meta {
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1"
    }

    base href="/"

    <% _.each(assets.css, function(file) { %>
    link rel="stylesheet" type="text/css" href="/assets/<%= file %>"
    <% }) %>

    <% _.each(assets.js , function(file) { %>
    script type="text/javascript" src="/assets/<%= file %>"
    <% }) %>
  body

    ng-view
      | loading...
