.overlay#overlay
  form.overlay__content.popup#popupRequest ng-submit="submit()"
    .popup__cross ng-click="close()"
    .popup__head Оставить заявку
    .popup__body.popup__margin-40

      .popup__row.input
        input.input__field {
          ng-model="request.email"
          ng-change="request.errors.email = undefined"
          ng-class="{'input__field--error': request.errors.email}"
          type="text"
          required=""
        }
        label.input__label E-mail

      .popup__row.input
        input.input__field {
          ng-model="request.name"
          ng-change="request.errors.name = undefined"
          ng-class="{'input__field--error': request.errors.name}"
          type="text"
          required=""
        }
        label.input__label Как к вам обращаться

      .popup__row.input
        input.input__field {
          ng-model="request.phone"
          ng-change="request.errors.phone = undefined"
          ng-class="{'input__field--error': request.errors.phone}"
          type="text"
          required=""
        }
        label.input__label Телефон

    .popup__footer.popup__margin-60
      button.popup__button Отправить
