// REQUEST
a name="request"
.block-request.section#request { 
  random-images
  max-number="3"
  random-number="randomNumber"
}
  div {
    class="
      block-request__image
      block-request__form__man
      block-request__anim-2
      wow
      hidden-xs
    "
    ng-if="randomNumber == 1"
  }
  div {
    class="
      block-request__image
      block-request__form__woman
      block-request__anim-2
      wow
      hidden-xs
    "
    ng-if="randomNumber == 2"
  } 
  div {
    class="
      block-request__image
      block-request__form__woman-pictured
      block-request__anim-2
      wow
      hidden-xs
    "
    ng-if="randomNumber == 3"
  } 

  .section__wrapper.wrapper

    form {
      class="block-request__form block-request__anim-1 wow"
      ng-controller="RequestsCtrl"
      ng-submit="submit()"
    }
      .block-request__form__container
        .block-request__form__header 100 дней бесплатно
        .block-request__form__body
          .block-request__form__item.input
            input.input__field {
              ng-model="request.email"
              ng-change="request.errors.email = undefined"
              ng-class="{'input__field--error': request.errors.email}"
              type="text"
              required=""
            }
            label.input__label Ваш e-mail

          .block-request__form__item
            .block-request__form__item__checkbox.checkbox
              input.checkbox__input {
                ng-model="request.is_help_required"
                ng-change="request.errors.is_help_required = undefined"
                ng-class="{
                  'input__field--error': request.errors.is_help_required,
                }"
                type="checkbox"
                id="receive-setup-help"
              }
              label {
                class="
                  checkbox__icon
                  block-request__form__checkbox
                "
                for="receive-setup-help"
              }
            label {
              class="block-request__form__item__label"
              for="receive-setup-help"
            }
              | Получить помощь в настройке

          div {
            ng-if="request.is_help_required"
            class="
              block-request__form__item
              input
              js-block-request__form__item-help
            "
          }
            input.input__field {
              ng-model="request.name"
              ng-change="request.errors.name = undefined"
              ng-class="{'input__field--error': request.errors.name}"
              type="text"
              required=""
            }
            label.input__label Как к вам обращаться

          div {
            ng-if="request.is_help_required"
            class="
              block-request__form__item
              input
              js-block-request__form__item-help
            "
          }
            input.input__field.input__field--red {
              ng-model="request.phone"
              ng-change="request.errors.phone = undefined"
              ng-class="{'input__field--error': request.errors.phone}"
              type="text"
              required=""
            }
            label.input__label.input__label--red Телефон

        button class="
          block-request__form__button
          block-request__form__margin
        "
          | Подключить
