.overlay#overlay
  .overlay__content.popup#afterRequest
    .popup__cross ng-click="close()"
    .popup__body
      .popup__body__message
        | Спасибо за обращение.
        br
        | Капитан скоро свяжется с вами!
    .popup__footer.popup__margin-30
      .popup__button ng-click="close()" Ок