.page-header
  h1.page-title Авторизация
.page-content.container-fluid
  .row
    .col-md-6.col-xs-12
      .panel
        .panel-heading
          h3.panel-title Вход

        form.panel-body ng-submit="login()"
          .form-group {
            ng-class="{'has-error has-feedback': admin.errors.email}"
          }
            input.form-control {
              ng-model="admin.email"
              placeholder="admin@example.com"
              type="email"
            }

          .form-group {
            ng-class="{'has-error has-feedback': admin.errors.password}"
          }
            input.form-control {
              ng-model="admin.password"
              placeholder="password"
              type="password"
            }

          button.btn.btn-primary type="submit"  Войти
