.page-header
  h1.page-title Создать заявку

.page-content.container-fluid

  .panel
    .panel-body

      form ng-submit="submit()"
        ng-include src="'assets/views/requests/form.html'"

        .form-group
          button.btn.btn-primary type="submit"  Создать
