.form-group {
  ng-class="{'has-feedback has-error': request.errors.name}"
}
  label.control-label Имя
  input {
    ng-model="request.name"
    ng-change="request.errors.name = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': request.errors.email}"
}
  label.control-label Почта
  input {
    ng-model="request.email"
    ng-change="request.errors.email = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': request.errors.phone}"
}
  label.control-label Телефон
  input {
    ng-model="request.phone"
    ng-change="request.errors.phone = undefined"
    class="form-control"
    autocomplete="off"
    type="text"
  }

.form-group {
  ng-class="{'has-feedback has-error': request.errors.phone}"
}
  .checkbox-custom.checkbox-default
    input {
      ng-model="request.is_help_required"
      ng-change="request.errors.is_help_required = undefined"
      id="is_help_required"
      class="form-control"
      autocomplete="off"
      type="checkbox"
    }
    label for="is_help_required" Требуется помощь при установке

.form-group {
  ng-class="{'has-feedback has-error': request.errors.phone}"
}
  .checkbox-custom.checkbox-default
    input {
      ng-model="request.popup"
      ng-change="request.errors.popup = undefined"
      id="popup"
      class="form-control"
      autocomplete="off"
      type="checkbox"
    }
    label for="popup" Заявка создана через попап
