.page-header
  h1.page-title Заявки
  .page-header-actions
    a.btn.btn-sm.btn-icon.btn-inverse.btn-round {
      type="button"
      href="requests/create"
    }
      i.icon.fa.fa-plus
    a.btn.btn-sm.btn-icon.btn-inverse.btn-round {
      type="button"
      href="api/requests/download?X-Admin-Token={{adminToken}}"
      target="self"
    }
      i.icon.fa.fa-download

.page-content.container-fluid

  .panel
    .panel-body
      .table-responsive
        table.table
          thead
            tr
              th #
              th Имя
              th Почта
              th Телефон
            tr ng-repeat="request in requests"
              td
                | {{request.id}}
              td
                | {{request.name}}
              td
                a href="requests/{{request.id}}"
                  | {{request.email}}
              td
                | {{request.phone}}
