.page-header
  h1.page-title Изменить заявку
  .page-header-actions
    a.btn.btn-sm.btn-icon.btn-inverse.btn-round {
      ng-click="delete()"
      type="button"
    }
      i.icon.fa.fa-trash

.page-content.container-fluid

  .panel
    .panel-body

      form ng-submit="submit()"
        ng-include src="'assets/views/requests/form.html'"

        .form-group
          button.btn.btn-primary type="submit"  Сохранить
