.tariffs-slider .ui-slider {
  display: block;
  position: relative;
  margin-top: 24px;
  height: 11px;
  border: none;
  background-color: #cacaca;
}

.tariffs-slider .ui-slider-range {
  display: block;
  height: 11px;
  background-color: #e03434;
}

.tariffs-slider .ui-slider-handle {
  display: block;
  top: 6px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -8px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);
}