// ADVANTAGES
a name="advantages"
.block-advantages.section.section--no-limit#advantages
  .section__wrapper.wrapper
    .block-advantages__header Преимущества

    // ADVANTAGES BIG
    div class="
      block-advantages__grid-table-container
      block-advantages__grid__margin-top-60
    "
      .block-advantages__grid-table

        div class="
          block-advantages__grid-table__cell
          block-advantages__grid__element--1-3
          block-advantages__grid__element---white
          block-advantages__grid__text-center
          wow
          block-advantages__block-anim-1
        "

            div class="
              block-advantages__grid__element__image
              block-advantages__loupe
            "
            div class="
              block-advantages__grid__element__title
              block-advantages__grid__element__margin
            "
              | Гибкая аналитика
            div class="
              block-advantages__grid__element__line
              block-advantages__grid__element__margin
            "
            div class="
              block-advantages__grid__element__text
              block-advantages__grid__element__margin
            "
              | Ad-Hoc решения, есть все для построения аналитики под
              | любую конкретную, не типовую ситуацию.

        div class="
          block-advantages__grid-table__cell
          block-advantages__grid__element--1-3
          block-advantages__grid__element---white
          block-advantages__grid__text-center
          wow
          block-advantages__block-anim-2
        "

            div class="
              block-advantages__grid__element__image
              block-advantages__clock
            "
            div class="
              block-advantages__grid__element__title
              block-advantages__grid__element__margin
            "
              | Экономия времени
            div class="
              block-advantages__grid__element__line
              block-advantages__grid__element__margin
            "
            div class="
              block-advantages__grid__element__text
              block-advantages__grid__element__margin
            "
              | Если Вам ежемесячно приходится тратить много часов на
              | составление сложной отчетности, Капитан Аналитика сможет
              | помочь.

        div class="
          block-advantages__grid-table__cell
          block-advantages__grid__element--1-3
          block-advantages__grid__element---white
          block-advantages__grid__text-center
          wow
          block-advantages__block-anim-3.hidden-xs
        "
            div class="
              block-advantages__grid__element__image
              block-advantages__hand
            "
            div class="
              block-advantages__grid__element__title
              block-advantages__grid__element__margin
            "
              | Простота и удобство работы
            div class="
              block-advantages__grid__element__line
              block-advantages__grid__element__margin
            "
            div class="
              block-advantages__grid__element__text
              block-advantages__grid__element__margin
            "
              | Продукт для широкой аудитории: если Вы работали с Excel
              | или Google Spreadsheet, то без труда сможете разобраться.

      div class="
        block-advantages__grid__element--single
        block-advantages__grid__element---white
        block-advantages__grid__text-center
        wow
        block-advantages__block-anim-3
        visible-sm
      "

          div class="
              block-advantages__grid__element__image
              block-advantages__hand
            "
          div class="
              block-advantages__grid__element__title
              block-advantages__grid__element__margin
            "
            | Простота и удобство работы
          div class="
              block-advantages__grid__element__line
              block-advantages__grid__element__margin
            "
          div class="
              block-advantages__grid__element__text
              block-advantages__grid__element__margin
            "
            | Продукт для широкой аудитории: если Вы работали с Excel или
            | Google Spreadsheet, то без труда сможете разобраться.

    // ADVANTAGES MIDDLE
    div {
      class="
        block-advantages__grid
        block-advantages__block-anim-4
        block-advantages__container
        wow
      "
      ng-class="{'opened': moreItems}"
    } 

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Адаптивность
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Корректно работает на любом экране: ноутбуке, планшете или
          | смартфоне.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Стабильная работа при больших объемах данных
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Возможности обработки огромных массивов данных, сервис не
          | зависает при работе с большими отчетами.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Мощная визуализация
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Широкие возможности визуального представления: графики,
          | диаграммы, bubble chart, карты, индикаторы и т.д.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Отслеживание большого количества KPI.
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Отслеживание большого количества KPI. Сервис предоставляет
          | возможность отслеживания всех популярных показателей: LTV,
          | ROI, CTR, CPA, CPC,CAC, DAU… и др.

      // SERAPATOR FOR MY EYES =============================================

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Возможность создавать свои KPI
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Вы можете создавать и анализировать свои показатели
          | эффективности, производные от неограниченного числа метрик,
          | загружаемых из внешних систем.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Отчеты в привычных форматах
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Возможность экспорта данных в Excel, PDF, CSV и другие
          | форматы как по запросу так и по расписанию.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Точность цифр
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Данные автоматически попадают в систему напрямую из CRM,
          | систем рекламы или отслеживания статистики, что исключает
          | неточности и ошибки ручной обработки.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Возможность корректировки метрик
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | При необходимости Вы можете учитывать НДС, комиссию
          | подрядчиков и т.п.

      // SERAPATOR FOR MY EYES =============================================

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Данных из неограниченного числа источников
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Реализация легкого импорта из Google Analytics, CRM, баз
          | данных SQL, Call Tracking и прочих систем. Данные могут
          | объединяться и комбинироваться между собой по заданным Вами
          | правилам.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Современный формат отчетности
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | То что прежде подавалось в виде пачки word и excel отчетов,
          | теперь доступно на одном экране в виде красивых дашбордов.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Работа в браузере
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Не требует установки программного обеспечения на компьютер.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "

        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "

          | Коробочная версия
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "

        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "

          | Возможность установки Капитана на ваш сервер.

      // SERAPATOR FOR MY EYES =============================================

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "
        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "
          | Интуитивно понятные данные
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "
        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "
          | По меркам BI-инструментов сервис прост и удобен в работe.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "
        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "
          | Оперативная поддержка по e-mail
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "
        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "
          | Наши специалисты помогут решить проблемы в кратчайшие сроки.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "
        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "
          | Оповещения по e-mail и смс.
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "
        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "
          | Гибкая настройка правил отслеживания динамики KPI и получения
          | мгновенных уведомлений о критических изменениях показателей.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "
        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "
          | Быстрое самостоятельное подключение
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "
        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "
          | Регистрация за 1 минуту, подключение дашборда из библиотеки
          | за 3 минуты, создание своего первого отчета за 15 минут.

      div class="
        block-advantages__grid__element
        block-advantages__grid__element--1-4
        block-advantages__grid__margin-top-60
      "
        div class="
          block-advantages__grid__element__title
          block-advantages__grid__element__title--size-16
        "
          | Не требуется ждать внешних специалистов.
        div class="
          block-advantages__grid__element__line
          block-advantages__grid__element__margin
        "
        div class="
          block-advantages__grid__element__text
          block-advantages__grid__element__text--size-14
          block-advantages__grid__element__margin
        "
          | Вы не зависите от специалистов из компании, внедряющей
          | аналитический софт. Все что необходимо Вы сможете настроить
          | сами.

    div {
      ng-click="moreItems = !moreItems"
      class="
        block-advantages__button
        block-advantages__block-anim-4
        wow
      "
    }
      .block-advantages__button__title {
        ng-class="{'rotate-arrow': moreItems}"
      } 
        | Показать еще