a name="audience"
.block-audience.section#audience
  .section__wrapper.wrapper
    .block-audience__header Капитан Аналитика будет полезен:
    .block-audience__body

      .block-audience__body__item.block-audience__anim-1.wow
        .block-audience__body__item__image
          .block-audience__body__item__image__icon.block-audience__image-1
        .block-audience__body__item__title Владельцы бизнеса

      .block-audience__body__item.block-audience__anim-2.wow
        .block-audience__body__item__image
          .block-audience__body__item__image__icon.block-audience__image-2
        .block-audience__body__item__title Маркетологи

      .block-audience__body__item.block-audience__anim-3.wow
        .block-audience__body__item__image
          .block-audience__body__item__image__icon.block-audience__image-3
        .block-audience__body__item__title Бизнес-аналитики

      .block-audience__body__item.block-audience__anim-4.wow
        .block-audience__body__item__image
          .block-audience__body__item__image__icon.block-audience__image-4
        .block-audience__body__item__title Руководители направлений

    .block-audience__footer.block-audience__anim-5.wow
      | Панели данных формируются индивидуально. Существуют разные уровни
      | доступа к информации.
      br
      | Каждый человек в кoмпании может получить свою статистику, полезную
      | именно для его задач.