.block-desk.section
  .section__wrapper.wrapper
    .block-desk__content
      .block-desk__header.block-desk__margin
        | Все ваши KPI
        br
        | в едином интерфейсе
      .block-desk__text.block-desk__margin
        | Собираем данные из всех ваших источников.
        br
        | Обрабатываем в реальном времени.
        br
        | Удобно отображаем данные в едином окне.
        br
        | Моментально  рассылаем уведомления об изменениях
      .block-desk__button.block-desk__margin
        | Попробовать бесплатно

    .block-desk__image.block-desk__image-top.wow
    .block-desk__image.block-desk__image-left.wow
    .block-desk__image.block-desk__image-right.wow
    .block-desk__image.block-desk__image-bottom.wow