.layout
  navigation
  ng-include src="'assets/views/index/desk.html'"
  ng-include src="'assets/views/index/infographics.html'"
  ng-include src="'assets/views/index/advantages.html'"
  ng-include src="'assets/views/index/audience.html'"
  ng-include src="'assets/views/index/prices.html'"
  ng-include src="'assets/views/index/requests/request.html'"

navigation-mobile