.block-infographics.section
  .block-infographics__wrapper.wrapper
    .block-infographics__header Легкий импорт из ваших источников
    .block-infographics__content
      .block-infographics__content-container

        .block-infographics__notebook.wow

        infographics-wheel