.overlay#overlay
  form.overlay__content.popup#popupLogin ng-submit="login()"
    .popup__cross ng-click="close()"
    .popup__head Авторизация
    .popup__body.popup__margin-40

      .popup__row.input
        input.input__field {
          ng-model="user.email"
          ng-class="{'input__field--error': user.errors.email}"
          type="text"
          required=""
        }
        label.input__label Логин

      .popup__row.input
        input.input__field {
          ng-model="user.password"
          ng-class="{'input__field--error': user.errors.password}"
          type="password"
          required=""
        }
        label.input__label Пароль

    .popup__footer.popup__margin-60
      button.popup__button Войти
