//TARIFS
a name="tarifs"
.block-tarifs.section.section--no-limit#tarifs
  .block-tarifs__wrapper.wrapper
    .block-tarifs__header Тарифы

    // BASIC
    .block-tarifs__basic
      .block-tarifs__basic__cell.block-tarifs__basic__info
        a.block-tarifs__basic__info__title href="#" Базовый тариф
        div class="
          block-tarifs__basic__info__price
          block-tarifs__basic__info__margin
        "

          | 3000
          .block-tarifs__basic__info__unit
            .block-tarifs__basic__info__unit__size-28 Руб.
            .block-tarifs__basic__info__unit__separator
            .block-tarifs__basic__info__unit__size-16 в мес.

        div class="
          block-tarifs__basic__info__caption
          block-tarifs__basic__info__margin
        "

          | Полный доступ без ограничения для одного пользователя

      .block-tarifs__basic__cell
        .block-tarifs__basic__title Выбрать дополнительные опции
        .block-tarifs__basic__line.block-tarifs__basic__margin-top-20
        .block-tarifs__basic__options.block-tarifs__basic__margin-top-20
          .block-tarifs__basic__options__title Количество пользователей

          tariffs-slider.tariffs-slider {
            ng-model= "usersCount"
          }
            div id="tariffs-slider"

          .block-tarifs__basic__total
            input {
              class="
                block-tarifs__basic__total__count
                block-tarifs__basic__total__margin
              "
              ng-change="updateSlider()"
              ng-model="usersCount"
              type="number"
              step="1"
            }
            .block-tarifs__basic__total__price
              | {{3000 + (usersCount || 1) * 300}} руб.
              .block-tarifs__basic__total__price__grey
                | / в мес.

        .block-tarifs__basic__button 100 дней бесплатно


    // PREMIUM
    .block-tarifs__premium
      a.block-tarifs__premium__header href="#" Тариф премиум

      .block-tarifs__premium__line.block-tarifs__premium__margin

      .block-tarifs__premium__form.block-tarifs__premium__margin-15

        .block-tarifs__premium__form__item
          .block-tarifs__premium__form__item__checkbox.checkbox
            input.checkbox__input type="checkbox" id="checkbox-1"
            label.checkbox__icon.block-tarifs__checkbox for="checkbox-1"
          .block-tarifs__premium__form__item__title White Label
          .block-tarifs__premium__form__item__text
            | Возможность использовать сервис на своем домене,
            br
            |со своим favicon изображением и css темами.

        .block-tarifs__premium__form__item
          .block-tarifs__premium__form__item__checkbox.checkbox
            input.checkbox__input type="checkbox" id="checkbox-2"
            label.checkbox__icon.block-tarifs__checkbox for="checkbox-2"
          .block-tarifs__premium__form__item__title Премиум поддержка
          .block-tarifs__premium__form__item__text
            | Персональный менеджер, консультации по скайпу и телефону.

        .block-tarifs__premium__form__item
          .block-tarifs__premium__form__item__checkbox.checkbox
            input.checkbox__input type="checkbox" id="checkbox-3"
            label.checkbox__icon.block-tarifs__checkbox for="checkbox-3"
          .block-tarifs__premium__form__item__title
            | Неограниченный объем данных
          .block-tarifs__premium__form__item__text
            | Возможность обработки в сервисе практически любых объемов
            | информации.

        .block-tarifs__premium__form__item
          .block-tarifs__premium__form__item__checkbox.checkbox
            input.checkbox__input type="checkbox" id="checkbox-4"
            label.checkbox__icon.block-tarifs__checkbox for="checkbox-4"
          .block-tarifs__premium__form__item__title Коробочная версия
          .block-tarifs__premium__form__item__text
            | Возможность разворачивания системы на вашем сервере.

        .block-tarifs__premium__form__item
          .block-tarifs__premium__form__item__checkbox.checkbox
            input.checkbox__input type="checkbox" id="checkbox-5"
            label.checkbox__icon.block-tarifs__checkbox for="checkbox-5"
          .block-tarifs__premium__form__item__title
            | Интеграция с внешним приложением.
          .block-tarifs__premium__form__item__text
            | Обратитесь к нам, если хотите использовать в своем сервисе
            | возможности  обработки и визуализации Captain Analytics.


      .block-tarifs__premium__line.block-tarifs__premium__margin
      .block-tarifs__premium__button.block-tarifs__premium__margin {
        ng-click="showModalRequest()"
      }
        | Связаться с нами