.navigation
  .navigation__container
    .navigation__table.wrapper
      .navigation__cell.visible-md
        .navigation__burger ng-click="mobileMenu = !mobileMenu"
      .navigation__cell
        .navigation__logo Капитан Аналитика

      .navigation__cell.hidden
        .navigation__phone +7(499) 372-39-79

      .navigation__cell.hidden-sm
        .navigation__menu#navigation
          .navigation__menu__item {
            ng-click="scrollToAnchor('advantages')"
            ng-class="{'active': menuCheck(1, 'advantages')}"
          }  Преимущества

          .navigation__menu__item {
            ng-click="scrollToAnchor('audience')"
            ng-class="{'active': menuCheck(2, 'audience')}"
          }  Кому будет полезно

          .navigation__menu__item {
            ng-click="scrollToAnchor('tarifs')"
            ng-class="{'active': menuCheck(3, 'tarifs')}"
          }  Тарифы

          .navigation__menu__item {
            ng-click="scrollToAnchor('request')"
            ng-class="{'active': menuCheck(4, 'request')}"
          }  Подключить

      .navigation__cell
        a.navigation__user ng-click="login()"
          .navigation__user__item.navigation__user__icon-lock
          .navigation__user__item.hidden-md
            | {{user.name || 'Авторизация'}}