// MOBILE MENU
.mobile-menu.visible-md ng-show="mobileMenu"
  .mobile-menu__item.mobile-menu__header Меню

  .mobile-menu__item {
    ng-click="scroll('advantages')"
  }
    | Преимущества

  .mobile-menu__item {
    ng-click="scroll('audience')"
  }
    | Кому будет полезно

  .mobile-menu__item {
    ng-click="scroll('tarifs')"
  }
    | Тарифы

  .mobile-menu__item {
    ng-click="scroll('request')"
  }
    | Подключить

  .mobile-menu__item.mobile-menu__logo
  .mobile-menu__cross ng-click="mobileMenu = !mobileMenu"