.block-infographics__circle#animated-circle

  // ELEMENT-1
  div {
    class="
      block-infographics__circle__spoke
      block-infographics__circle__spoke--1
    "
    ng-click="rotateCircle(0)"
  }
    div {
      
      class="
        block-infographics__circle__marker
        js-animated-circle-element
      "
    }
      .block-infographics__circle__marker-1
        .block-infographics__element-1.wow
          div class="
            block-infographics__element__green
            block-infographics__element__icon--1
            block-infographics__element__icon
          "
          .block-infographics__element__title CRM и ERP

          div {
            class="
              block-infographics__element__sub
              block-infographics__element__sub-top
            "
            ng-class="{'hidden': wheel.selectedId != 0}"
          } 
          div {
            class="
              block-infographics__element__sub
              block-infographics__element__sub-let
            "
            ng-class="{'hidden': wheel.selectedId != 0}"
          }
          div {
            class="
              block-infographics__element__sub
              block-infographics__element__sub-right
            "
            ng-class="{'hidden': wheel.selectedId != 0}"
          }

    div class="
      block-infographics__element__arrow-box
      block-infographics__element__arrow-anim-1
    "
      div class="
        block-infographics__element__arrow
        block-infographics__element__green
      "

  // ELEMENT-2
  div {
    class="
      block-infographics__circle__spoke
      block-infographics__circle__spoke--2
    "
    ng-click="rotateCircle(1)"
  }
    div {
      
      class="
        block-infographics__circle__marker
        js-animated-circle-element
      "
    }
      .block-infographics__circle__marker-2
        .block-infographics__element-2.wow
          div class="
            block-infographics__element__icon
            block-infographics__element__violet
            block-infographics__element__icon--2
          "
          .block-infographics__element__title Рекламные сети

    div class="
      block-infographics__element__arrow-box
      block-infographics__element__arrow-anim-2
    "
      div class="
        block-infographics__element__arrow
        block-infographics__element__violet
      "

  // ELEMENT-3
  div {
    class="
      block-infographics__circle__spoke
      block-infographics__circle__spoke--3
    "
    ng-click="rotateCircle(2)"
  }
    div {
      
      class="
        block-infographics__circle__marker
        js-animated-circle-element
      "
    }
      .block-infographics__circle__marker-3
        .block-infographics__element-3.wow
          div class="
            block-infographics__element__icon
            block-infographics__element__blue
            block-infographics__element__icon--3
          "
          .block-infographics__element__title Базы данных

    div class="
      block-infographics__element__arrow-box
      block-infographics__element__arrow-anim-3
    "
      div class="
        block-infographics__element__arrow
        block-infographics__element__blue
      "


  // ELEMENT-4
  div {
    class="
      block-infographics__circle__spoke
      block-infographics__circle__spoke--4
    "
    ng-click="rotateCircle(3)"
  }
    div {
      
      class="
        block-infographics__circle__marker
        js-animated-circle-element
      "
    }
      .block-infographics__circle__marker-4
        .block-infographics__element-4.wow
          div class="
            block-infographics__element__icon
            block-infographics__element__red
            block-infographics__element__icon--4
          "
          .block-infographics__element__title
            | Системы
            br
            | веб-аналитики

    div class="
      block-infographics__element__arrow-box
      block-infographics__element__arrow-anim-4
    "
      div class="
        block-infographics__element__arrow
        block-infographics__element__red
      "

  // ELEMENT-5
  div {
    class="
      block-infographics__circle__spoke
      block-infographics__circle__spoke--5
    "
    ng-click="rotateCircle(4)"
  }
    div {
      
      class="
        block-infographics__circle__marker
        js-animated-circle-element
      "
    }
      .block-infographics__circle__marker-5
        .block-infographics__element-5.wow
          div class="
            block-infographics__element__icon
            block-infographics__element__orange
            block-infographics__element__icon--5
          "
          .block-infographics__element__title Calltracking

    div class="
      block-infographics__element__arrow-box
      block-infographics__element__arrow-anim-5
    "
      div class="
        block-infographics__element__arrow
        block-infographics__element__orange
      "