doctype html
html ng-app="app"
  head
    title Панель управления: Капитан Аналитика
    meta charset="utf-8"
    meta name="theme-color" content="#292a2c"
    meta {
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1"
    }

    base href="<%= baseHref %>/"

    <% _.each(assets.css, function(file) { %>
    link rel="stylesheet" type="text/css" href="<%= baseHref %>/assets/<%= file %>"
    <% }) %>

    <% _.each(assets.js , function(file) { %>
    script type="text/javascript" src="<%= baseHref %>/assets/<%= file %>"
    <% }) %>
  body class="site-menubar-unfold"

    nav.site-navbar.navbar.navbar-default.navbar-fixed-top.navbar-mega
      .navbar-header
        .navbar-brand.navbar-brand-center.site-gridmenu-toggle
          .fa.fa-bar-chart
          span.navbar-brand-text Капитан

      .navbar-container.container-fluid ng-if="admin"
        #site-navbar-collapse.collapse.navbar-collapse.navbar-collapse-toolbar
          ul.nav.navbar-toolbar.navbar-right.navbar-toolbar-right
            li.dropdown
              a.navbar-avatar.dropdown-toggle {
                href="#"
                ng-click="userMenuVisible = !userMenuVisible"
              }
                | {{admin.name}}
                | &nbsp;&nbsp;
                span.avatar
                  .fa.fa-user
              ul.dropdown-menu ng-class="{'visible': userMenuVisible}"
                li
                  a ng-controller="LogoutCtrl" href="admins"
                    span.fa.fa-sign-out
                    | &nbsp;&nbsp;Администраторы
                li
                  a ng-controller="LogoutCtrl" ng-click="logout()" href="#"
                    span.fa.fa-sign-out
                    | &nbsp;&nbsp;Выход

    .site-menubar ng-if="admin"
      .site-menubar-body
        ul.site-menu
          li.site-menu-category General
          li.site-menu-item
            a href="users"
              i.site-menu-icon.fa.fa-users
              span.site-menu-title Пользователи
          li.site-menu-item
            a href="requests"
              i.site-menu-icon.fa.fa-envelope
              span.site-menu-title Заявки

    .page
      ng-view
        | loading...


